<!DOCTYPE html>
<html>
<head>
  <title>Quodes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <h1>Quodes</h1>
    <%= yield %>
</div>

</body>
</html>
